pipeline/pipeline1_to_STG.json
{
	"name": "pipeline1_to_STG",
	"properties": {
		"activities": [
			{
				"name": "Parquet_to_Snowflake",
				"description": "",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CSV_to_Parquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SnowflakeV2Sink",
						"importSettings": {
							"type": "SnowflakeImportCopyCommand"
						}
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "AzureBlobStorage1",
							"type": "LinkedServiceReference"
						},
						"path": "staging"
					}
				},
				"inputs": [
					{
						"referenceName": "Parquet1",
						"type": "DatasetReference",
						"parameters": {
							"fileName": {
								"value": "@variables('myfileName')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SnowflakeTable1",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": {
								"value": "@variables('mySchemaName')",
								"type": "Expression"
							},
							"TableName": {
								"value": "@variables('myTableName')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "CSV_to_Parquet",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"validateDataConsistency": true,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Warning",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "AzureBlobStorage1",
								"type": "LinkedServiceReference"
							}
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Parquet1",
						"type": "DatasetReference",
						"parameters": {
							"fileName": {
								"value": "@variables('myfileName')",
								"type": "Expression"
							},
							"di_job_id": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"di_load_dt": {
								"value": "@utcNow()",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"variables": {
			"myfileName": {
				"type": "String",
				"defaultValue": "pet_lic_data.parquet"
			},
			"mySchemaName": {
				"type": "String",
				"defaultValue": "SEATTLE_SCHEMA"
			},
			"myTableName": {
				"type": "String",
				"defaultValue": "PET_LICENSE_STAGE"
			}
		},
		"annotations": []
	}
}